$max_columns: 5;
$font_color: #fff;
$stripe_bg: rgba(255, 255, 255, 0.1);
$stripe_border_color: #333;
$border_color: #113;

#schedule {
	font-size: 0;
}

#schedule-wrapper {
	padding: 5px;
	background: #283145 url(noise.png) repeat;
	color: $font_color;
	border-radius: 4px;

	h2 {
		margin: 10px 0 10px 10px;
	}
}

// column generation
@for $i from 1 through $max_columns {
  .schedule-item-max-#{$i} {
		width: 100% / $i;
	}
}
@media (min-width: 768px) {
	@for $i from 1 through $max_columns {
		.schedule-days-#{$i} .schedule-day {
			width: 100% / $i;
		}
	}
}

.schedule-day {
	width: 100%;
	display: inline-block;
}

.schedule-content {
	padding-left: 55px;

	@media (min-width: 768px) {
		padding-left: 0;
	}

	@at-root .schedule-day:first-child & {
		padding-left: 55px;
	}
}

.schedule-day-header {
	border-bottom: 1px solid $border_color;
	font-size: 1rem;

	@media (min-width: 768px){
		padding-left: 10px;
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		h3 > small {
			display: block;
			margin-top: 5px;
		}
	}

	.glyphicon {
		margin-top: 8px;
		margin-right: 8px;
	}

	a {
		padding: 10px 0;
		display: block;

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}

	h3 {
		margin: 0;

		span {
			display: inline-block
		}
	}
}

.schedule-clock {
	font-size: 16px;
	margin: 0;
	margin-left: -55px;
	border-bottom: 1px solid $stripe_border_color;
	cursor: default;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	> span {
		width: 56px;
		padding: 0 5px;
		display: inline-block;
		border-right: 1px solid $border_color;
		text-align: center;
	}

	&:nth-child(2n) {
		background: $stripe_bg;
	}
}


.schedule-inner {
	position: relative;
}

.schedule-item {
	display: inline-block;
	padding: 9px 8px;
	font-size: 1rem;
	font-weight: bold;
	position: absolute;
	z-index: 3;

	&:before {
		z-index: 2;
		content: ' ';
		border: 1px solid $border_color;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: -1px;
	}

	&:hover {
		box-shadow: 1px 1px 5px #000;
		z-index: 5;
	}
}

.schedule-item-first:before {
	left: 0px;
}

.schedule-item-light {
	color: #fff;
}

.schedule-item-dark {
	color: #000;
}

@media (min-width: 768px){
	#schedule .collapse {
		display: block !important;
		height: inherit !important;
	}

	.schedule-day-header {
		a {
			color: $font_color;
			pointer-events: none;
		}

		.glyphicon {
			display: none;
		}
	}

	.schedule-day-header,
	.schedule-clock {
		border-right: 1px solid $border_color;
		margin-right: -1px;
	}

	.schedule-clock {
		margin-left: 1px;

		> span {
			visibility: hidden;
		}
	}

	.schedule-day .schedule-clock {
		color: transparent;
	}

	.schedule-day:first-child .schedule-clock {
		margin-left: -55px;
		color: inherit;

		> span {
			visibility: visible;
		}
	}

	.schedule-item-last:before {
		right: -1px;
	}
}
