header, footer {
	display: none;
}

body.timetable {
	background: #283145 url(noise.png) repeat;

	#schedule-wrapper {
		background: none;
		border-radius: 0;


		h1 .nitroxy {
			display: inline-block;
			width: 136px;
			background: url(nitroxy_h1_vit.png);
		}
	}
}
