@import 'variables';
@import 'schedule';

body {
	background: #eee;
}

h1 > small {
	white-space: nowrap;
	display: none;
	margin-left: 5px;
}

h1 .nitroxy {
	color: transparent;
	display: inline-block;
	width: 144px;
	background: url(nitroxy_h1_svart.png);
	letter-spacing: 4px;
}

h2 .nitroxy {
	color: transparent;
	display: inline-block;
	width: 112px;
	background: url(nitroxy_h2_vit.png);
	letter-spacing: 2px;
}

@media (min-width: 400px){
	h1 > small {
		display: inline;
	}
}

nav .navbar-toggle {
	width: 100%;
	margin: 0;
	height: 50px;
	border: 0;
	color: #fff;
	text-align: left;
}

nav .bar {
	float: right;
	margin-top: 3px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background: inherit;
}

.navbar-inverse {
	background-image: linear-gradient(to bottom, lighten($secondary,10%) 0px, $secondary 100%);
}

img {
	max-width: 100%;
}

@media (min-width: 570px){
	img {
		max-width: 600px;
	}
}

#content {
	position: relative;
}

footer {
	font-size: 80%;
}

footer .madeby {
    float: right;
}

#images img {
    margin: 5px;
    width: 240px;
}

.colorme_table {
    background: #aaa;
}

.overlap-1 > div.item {
	width: 100%;
}

.overlap-2 > div.item {
	width: 50%;
}

.overlap-3 > div.item {
	width: 33.333%;
}

.overlap-4 > div.item {
	width: 25%;
}

.form-control[type="color"] {
	width: 50px;
}

.form-group > .clearfix {
	margin: 0 -5px;
}

.form-group .btn {
	margin: 0 5px;
}

.icon-preview {
	display: inline-block;
	vertical-align: middle;
	margin: -6px 5px 0 0;
	width: 20px;
	height: 20px;
}

.color-preview {
	display: inline-block;
	margin: -2px 5px -5px 0;
	width: 20px;
	height: 20px;
	border: 1px solid #333;
	border-radius: 3px;
}

.cms-admin ul {
	padding-left: 15px;
}

@media (min-width: 768px){
	.cms-admin {
		float: right;
		width: 200px;
	}
}

@media (min-width: 1630px){
	.cms-admin {
		float: none;
		position: absolute;
		right: -215px;
		top: -70px;
	}
}

#preview {
	margin-top: 15px;
	position: relative;
}

#preview:empty {
	display: none;
}

#preview:before {
	content: ' ';
	position: absolute;
	background: #fff url(ajax-loader.gif) no-repeat center;
	background-size: 20px;
	opacity: 0.0;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
}

#preview.loading:before {
	opacity: 0.7;
	transition: opacity 0.5s;
	cursor: not-allowed;
	pointer-events: initial;
}

.image-gallery {
	font-size: 0;
	margin: 15px -4px 0;
	padding: 0;
}

.image-gallery .image-thumbnail {
	display: inline-block;
	position: relative;
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin: 0 4px 8px;
	cursor: pointer;
}

.image-gallery img {
	width: 100%;
	height: 100%;
	position: absolute;
	display: inline-block;
	vertical-align: middle;
}
.image-gallery img:hover {
	z-index: 2;
	width: 175%;
	height: 175%;
	top: -37.5%;
	left: -37.5%;
	box-shadow: 0 0 8px #000;
}
