[submodule "libs/php-markdown"]
	path = libs/php-markdown
	url = https://github.com/NitroXy/php-markdown.git
[submodule "libs/nxauth"]
	path = libs/nxauth
	url = https://github.com/NitroXy/nxauth
[submodule "libs/BasicObject"]
	path = libs/BasicObject
	url = https://github.com/NitroXy/BasicObject.git
