h1 > small {
	white-space: nowrap;
	display: none;
}

@media (min-width: 400px){
	h1 > small {
		display: inline;
	}
}

nav .navbar-toggle {
	width: 100%;
	margin: 0;
	height: 50px;
	border: 0;
	color: #fff;
	text-align: left;
}

nav .bar {
	float: right;
	margin-top: 3px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background: inherit;
}

img {
	max-width: 100%;
}

@media (min-width: 570px){
	img {
		max-width: 600px;
	}
}

#content {
	/* extra padding? not sure why but cpluss original code has the headings
	 * shifted to the left by 10px, this extra padding is to keep the content
	 * within the container (but makes some items appear unaligned) */
	padding: 0 25px;

	position: relative;
}

footer {
	font-size: 80%;
}

footer .madeby {
    float: right;
}

#images img {
    margin: 5px;
    width: 240px;
}

.colorme_table {
    background: #aaa;
}

/* Begin timetable */

#schedule {
	font-size: 0;
	padding-left: 5px;
}

.schedule-day {
	width: 100%;
	display: inline-block;
	padding: 0 5px 0 50px;
}

@media (min-width: 768px) {
	.schedule-days-1 .schedule-day {
		width: 100%;
	}

	.schedule-days-2 .schedule-day {
		width: 50%;
	}

	.schedule-days-3 .schedule-day {
		width: 33.333%;
	}

	.schedule-days-4 .schedule-day {
		width: 25%;
	}

	.schedule-days-5 .schedule-day {
		width: 20%;
	}
}

.schedule-day-header {
	border-bottom: 1px solid #000;
	font-size: 1rem;
}

.schedule-day-header .glyphicon {
	margin-top: 8px;
	margin-right: 8px;
}

.schedule-day-header a {
	padding: 10px 0;
	display: block;
}

.schedule-day-header h3 {
	margin: 0;
}

.schedule-clock {
	font-size: 16px;
	margin: 0;
	padding-left: 5px;
	border-bottom: 1px solid #ccc;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.schedule-clock:before {
	content: 'kl ';
}

.schedule-clock:after {
	content: '-';
	color: transparent;
	border-right: 1px solid #000;
	display: inline-block;
	height: 100%;
	padding-left: 5px;
	margin-right: 5px;
}

.schedule-day-header, .schedule-clock {
	margin-left: -55px;
}

@media (min-width: 768px){
	#schedule {
		padding-left: 55px;
	}

	#schedule .collapse {
		display: block !important;
		height: inherit !important;
	}

	.schedule-day {
		padding-left: 0;
	}

	.schedule-day-header a {
		color: #333;
		pointer-events: none;
	}

	.schedule-day-header .glyphicon {
		display: none;
	}

	.schedule-day-header, .schedule-clock {
		margin-left: 0;
		margin-right: -5px;
	}

	.schedule-day:first-child .schedule-day-header,
	.schedule-day:first-child .schedule-clock {
		margin-left: -55px;
	}

	.schedule-day:last-child .schedule-day-header,
	.schedule-day:last-child .schedule-clock {
		margin-right: 0;
	}

	.schedule-day:first-child .schedule-day-header {
		padding-left: 55px;
	}
}

.schedule-clock:nth-child(2n) {
	background: #f0f0f0;
}

@media (min-width: 768px){
	.schedule-clock:after {
		display: none;
	}

	.schedule-day .schedule-clock {
		color: transparent;
	}

	.schedule-day:first-child .schedule-clock {
		color: inherit;
	}

	.schedule-day:first-child .schedule-clock:after {
		display: inline-block;
	}
}

.schedule-content {
	position: relative;
}

.schedule-item {
	display: inline-block;
	border: 1px solid #000;
	padding: 9px 8px;
	font-size: 1rem;
	font-weight: bold;
	position: absolute;
}

.schedule-item-light {
	color: #fff;
}

.schedule-item-dark {
	color: #000;
}


/* old stuff */

.timetable {
	border: 1px solid #aaa;
	table-layout: fixed;
	width: 100%;
}

.timetable th {
	padding: 8px;
	text-align: center;
}

.timetable tr > td,
.timetable tr > th {
	border: 0;
	border-right: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}

.timetable td.has-item {
	border: 0;
	font-size: 0;
	border-bottom: 0;
}

/* end timetable */

.overlap-1 > div.item {
	width: 100%;
}

.overlap-2 > div.item {
	width: 50%;
}

.overlap-3 > div.item {
	width: 33.333%;
}

.overlap-4 > div.item {
	width: 25%;
}

.form-control[type="color"] {
	width: 50px;
}

.form-group > .clearfix {
	margin: 0 -5px;
}

.form-group .btn {
	margin: 0 5px;
}

.icon-preview {
	display: inline-block;
	vertical-align: middle;
	margin: -6px 5px 0 0;
	width: 20px;
	height: 20px;
}

.color-preview {
	display: inline-block;
	margin: -2px 5px -5px 0;
	width: 20px;
	height: 20px;
	border: 1px solid #333;
	border-radius: 3px;
}

.cms-admin ul {
	padding-left: 15px;
}

@media (min-width: 768px){
	.cms-admin {
		float: right;
		width: 200px;
	}
}

@media (min-width: 1630px){
	.cms-admin {
		float: none;
		position: absolute;
		right: -215px;
		top: -70px;
	}
}

#preview {
	margin-top: 15px;
	position: relative;
}

#preview:empty {
	display: none;
}

#preview:before {
	content: ' ';
	position: absolute;
	background: #fff url(ajax-loader.gif) no-repeat center;
	background-size: 20px;
	opacity: 0.0;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
}

#preview.loading:before {
	opacity: 0.7;
	transition: opacity 0.5s;
	cursor: not-allowed;
	pointer-events: initial;
}

.image-gallery {
	font-size: 0;
	margin: 15px -4px 0;
	padding: 0;
}

.image-gallery .image-thumbnail {
	display: inline-block;
	position: relative;
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin: 0 4px 8px;
	cursor: pointer;
}

.image-gallery img {
	width: 100%;
	height: 100%;
	position: absolute;
	display: inline-block;
	vertical-align: middle;
}
.image-gallery img:hover {
	z-index: 2;
	width: 175%;
	height: 175%;
	top: -37.5%;
	left: -37.5%;
	box-shadow: 0 0 8px #000;
}
