/*
 * To counteract some of the effects of bootstrap, bugs...
 * */

#header {
    width: 1000px;
    margin-left: 20px;
}

img {
    width: 600px;
}

#navigation_menu {
    width: 1000px;
}

#content {
    width: 900px;
    margin-left: 50px;
    clear: both;
}

#content h1,h2,h3,h4,h5,h6 {
    margin-left: -10px;
}
#content p {
    margin-left: 10px;
}

#footer {
    width: 1000px;
    margin-left: 20px;
}

#footer .madeby {
    float: right;
}

#images img {
    margin: 5px;
    width: 240px;
}

.colorme_table {
    background: #aaa;
}

.timetable tr td,th {
    border: 1px solid #aaa;
}
.timetable {
    border: 1px solid #aaa;
}
