h1 > small {
	white-space: nowrap;
	display: none;
}

@media (min-width: 400px){
	h1 > small {
		display: inline;
	}
}

nav .navbar-toggle {
	width: 100%;
	margin: 0;
	height: 50px;
	border: 0;
	color: #fff;
	text-align: left;
}

nav .bar {
	float: right;
	margin-top: 3px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background: inherit;
}

img {
    width: 600px;
}

#content {
	/* extra padding? not sure why but cpluss original code has the headings
	 * shifted to the left by 10px, this extra padding is to keep the content
	 * within the container (but makes some items appear unaligned) */
	padding: 0 25px;
}

#content h1,h2,h3,h4,h5,h6 {
    margin-left: -10px;
}
#content p {
    margin-left: 10px;
}

footer {
	font-size: 80%;
}

footer .madeby {
    float: right;
}

#images img {
    margin: 5px;
    width: 240px;
}

.colorme_table {
    background: #aaa;
}

.timetable {
	border: 1px solid #aaa;
	table-layout: fixed;
	width: 100%;
}

.timetable th {
	padding: 8px;
	text-align: center;
}

.timetable tr > td,
.timetable tr > th {
	border: 0;
	border-right: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}

.timetable td.has-item {
	border: 0;
	font-size: 0;
	border-bottom: 0;
}

.timetable .item {
	display: inline-block;
	padding: 9px 8px;
	font-size: 14px;
	font-weight: bold;
}

.timetable .item-light {
	color: #fff;
}

.timetable .item-dark {
	color: #000;
}

.overlap-1 > div.item {
	width: 100%;
}

.overlap-2 > div.item {
	width: 50%;
}

.overlap-3 > div.item {
	width: 33.333%;
}

.overlap-4 > div.item {
	width: 25%;
}

.form-control[type="color"] {
	width: 50px;
}

.form-group > .clearfix {
	margin: 0 -5px;
}

.form-group .btn {
	margin: 0 5px;
}

.color-preview {
	display: inline-block;
	margin: -2px 5px -3px 0;
	width: 18px;
	height: 18px;
	border: 1px solid #333;
	border-radius: 3px;
}
